.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 25%;
    height: auto;
}

#myHeader {
  font-size: 78;
  color: purple;
}
