#myHeader {
  font-size: 78;
  color: purple;
  font-family: 'Lobster', cursive;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: purple;
    font-family: 'Lobster', cursive;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 35%;
    height: auto;
}

.panel-default>.panel-heading {
    color: white;
    font-size: 28;
    text-align: center;
    font-family: 'Lobster', cursive;
    background-color: purple;
    border-color: purple;
}
